<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Klantportaal</title>

    <meta name="description" content="Log in op het portaal om toegang te krijgen tot uw dashboard en uw websites te laten beoordelen." />
    <meta name="theme-color" content="#041f74" />

    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link href="{{ url_for('static', filename='css/variables.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/loginregistratie.css') }}" rel="stylesheet" />
  </head>

  <body>
    <div class="logo-container position-absolute">
      <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo Accessibility, onderdeel van Bartimeus">    </div>
    </div>
    <div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
      <div class="login-container p-4 rounded shadow position-relative" aria-labelledby="login-heading">

        <h1 id="login-heading" class="text-center">Log in</h1>
        <hr />
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endfor %}
              {% endif %}
          {% endwith %}

        <ul class="nav nav-tabs mb-3" id="loginTabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="email-tab" data-bs-toggle="tab" data-bs-target="#email-login" type="button" role="tab" aria-controls="email-login" aria-selected="true">Deskundige Login</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="api-key-tab" data-bs-toggle="tab" data-bs-target="#api-key-login" type="button" role="tab" aria-controls="api-key-login" aria-selected="false">Organisatie Login</button>
          </li>
        </ul>

        <div class="tab-content" id="loginTabsContent">
          <div class="tab-pane fade show active" id="email-login" role="tabpanel" aria-labelledby="email-tab">
            <form id="login-form">
              <div class="mb-3">
                <label for="email" class="form-label">Email <span class="visually-hidden">(verplicht veld)</span></label>
                <input name="email" type="email" class="form-control" id="email" required aria-required="true" aria-describedby="email-help"/>
                <small id="email-help" class="form-text text-muted">Vul uw e-mailadres in.</small>
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Wachtwoord <span class="visually-hidden">(verplicht veld)</span></label>
                <input name="password" type="password" class="form-control" id="password" required aria-required="true" aria-describedby="password-help"/>
                <small id="password-help" class="form-text text-muted">Vul uw wachtwoord in.</small>
              </div>
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="showPassword" aria-label="Toon wachtwoord"/>
                <label class="form-check-label" for="showPassword">Toon wachtwoord</label>
              </div>

              <button class="btn main-btn w-100" type="submit" aria-label="Log in op het klantportaal">Log in</button>
              <button class="sign-up-btn" type="button" aria-label="Registreer voor het klantportaal" onclick="window.location.href='registratie'">Sign-up</button>
            </form>
          </div>

          <div class="tab-pane fade" id="api-key-login" role="tabpanel" aria-labelledby="api-key-tab">
            <form id="api-key-login-form">
              <div class="mb-3">
                <label for="api-key" class="form-label">API Key <span class="visually-hidden">(verplicht veld)</span></label>
                <input name="api-key" type="text" class="form-control" id="api-key"required aria-required="true" aria-describedby="api-key-help"/>
                <small id="api-key-help" class="form-text text-muted">Vul uw API-key in.</small>
              </div>

              <button class="btn main-btn w-100" type="submit" aria-label="Log in met API-key">Log in</button>
            </form>
          </div>
        </div>

        <hr />

        <!-- Wachtwoord vergeten -->
{#        <div class="text-center mt-3">#}
{#          <a href="#" class="forgot-password-link" aria-label="Wachtwoord vergeten? Klik hier om uw wachtwoord opnieuw in te stellen.">#}
{#            Wachtwoord vergeten?#}
{#          </a>#}
{#        </div>#}
      </div>
    </div>

    <!-- Bootstrap JS Bundle -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('.static', filename='js/login.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>