/* variables.css */
:root {
    --primary-blue: #2b50ec;
    --dark-blue: #1a2e83;
    --orange: #fe7d01;
    --light-blue: #d9ebf7;
    --white: #ffffff;

    /* Font */
    --font-primary: "Mulish", sans-serif;
  }